{# templates/blog/show.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Add an article{% endblock %}


{% block body %}
    {{ form_start(form) }}
    {{ form_row(form.name) }}
    <button class="btn">{{ button_label|default('Enregistrer') }}</button>
    {{ form_end(form) }}

    <div>
        {% for category in categories %}
        <h2>{{ category.name }}</h2>
        {% endfor %}
    </div>
    <div>
        <a href="{{ path('app_index') }}">
            Back to homepage.
        </a>
    </div>

{% endblock %}