{# templates/blog/show.html.twig #}
{% extends 'base.html.twig' %}
{% block title %}{{ slug }}{% endblock %}


{% block body %}
    <div>
        <h1 class="text-center">{{ article.title }}</h1>
        <h2 class="text-right category-title">Category : {{ category.name }}</h2>
        <h3 class="text-center">{{ article.content }}</h3>
        <ul>
            {% for tag in article.tags %}
                <li>
                    <a href="{{ path('tag_show', {'name': tag.name}) }}">{{ tag.name }}</a>
                </li>
            {% else %}
                <li>No tags for this article</li>
            {% endfor %}
        </ul>
    </div>

    <a href="{{ path('blog_index') }}">
        Retour à l'accueil.
    </a>

{% endblock %}