{% extends "base.html.twig" %}
{% block body %}
    <h1 class="text-center">Bienvenue sur mon blog</h1>
    <a href="{{ path('blog_show', { 'slug': "javascript-vs-php" }) }}">
        Testing show() method from BlogController with a real article s slug.
    </a>
    <br>
    <a href="{{ path('blog_index') }}">
        Testing index() method from BlogController to view all articles.
    </a>
    <br>
    <a href="{{ path('category_index') }}">
        Testing addCategory() method from BlogController to add category.
    </a>
    <br>
    <a href="{{ path('tag_show', {'name': "development" }) }}">
        Testing tag with development tag
    </a>
    <br>
    <a href="{{ path('article_index') }}">
        Testing Article CRUD from ArticleController to admin articles
    </a>
{% endblock %}
