{% extends 'base.html.twig' %}

{% block title %}Tag{% endblock %}

{% block body %}
    <h1>{{ tag.name }} :</h1>

    <ul class="list-group">
    {% for article in tag.articles %}
    <li class="list-group-item list-group-item-dark">
        <a href="{{ path('article_show', {'id': article.id })}}">{{ article.title }}</a>
    </li>
    {% endfor %}
    <a href="{{ path('tag_index') }}">back to list</a>

    {{ include('tag/_delete_form.html.twig') }}
{% endblock %}
